@media only screen and (max-width: 991px) {
    .fir_create_btr_des{
        margin-top: 60px;
        margin-bottom: 60px;
      }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 50px;
     }
     .fir_create_btr_des .sec_tit_1 h1{
       font-size: 45px;
       margin-bottom: 20px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 17px;
     }
     .fir_create_btr_des .fir_sec_cont .fir_days{
       font-size: 13px;
       padding-top: 20px;
     }
     .fir_create_btr_des .fir_sec_cont h3{
       font-size: 18px;
       padding: 10px 0;
     }
     .fir_create_btr_des .fir_sec_cont .fir_cont_desc{
       font-size: 14px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 50px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 25px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 14px;
       padding: 12px 50px;
     }
     .sec_out_prod_des .sec_showcase{
        padding: 20px 0 6px 0;
      }
      .sec_out_prod_des .sec_sec_cont h3{
        padding: 0;
      }
      .third_out_prod_des .third_sec_cont{
        padding: 0 30px;
      }
      .third_out_prod_des .third_sec_cont h3{
        font-size: 18px;
        padding: 35px 0 15px 0;
      }
      .third_out_prod_des .third_sec_cont p{
        font-size: 15px;
        padding-bottom: 35px;
      }
      .four_calan_land_page .four_items img{
        margin-bottom: 18px;
      }
      .fourteen_quote_sec{
        margin: 60px 0;
      }
      .fourteen_quote_sec .quote_sec{
        padding: 60px 0;
      }
      .fourteen_quote_sec .quote_des{
        padding: 0 40px;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 22px;
        padding: 40px 0 50px 0;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 20px;
        padding: 20px 0 6px 0;
      }
      .fifteen_quote_sec .fourteen_bitmap{ 
        margin-bottom: 60px;
      }
}
@media only screen and (max-width: 767px) {
    .fir_create_btr_des{
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 40px;
     }
     .fir_create_btr_des .sec_tit_1 h1{
       font-size: 35px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 15px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 40px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 20px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 14px;
       padding: 12px 40px;
     }
     .four_calan_land_page .four_items img{
        margin-bottom: 13px;
      }
      .fourteen_quote_sec{
        margin: 50px 0;
      }
      .fourteen_quote_sec .quote_sec{
        padding: 50px 0;
      }
      .fourteen_quote_sec .quote_des{
        padding: 0 20px;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 18px;
        padding: 30px 0 40px 0;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 16px;
        padding: 20px 0 6px 0;
      }
      .fourteen_quote_sec .quote_des p{
        font-size: 12px;
      }
      .fifteen_quote_sec .fourteen_bitmap{ 
        margin-bottom: 50px;
      }
}
@media only screen and (max-width: 575px) {
    .fir_create_btr_des{
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 30px;
     }
     .fir_create_btr_des .sec_tit_1 h1{
       font-size: 30px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 14px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 30px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 0px;
       margin-bottom: 10px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 13px;
     }
     .sec_out_prod_des .sec_showcase{
        padding: 10px 0 6px 0;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 17px;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 15px;
        padding: 20px 0 6px 0;
      }
}
@media only screen and (max-width: 400px) {
    .fir_create_btr_des{
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 20px;
     }
     .fir_create_btr_des .sec_tit_1 h1{
       font-size: 20px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 13px;
     }
     .fir_create_btr_des .fir_sec_cont .fir_days{
        font-size: 13px;
        padding-top: 15px;
      }
      .fir_create_btr_des .fir_sec_cont h3{
        font-size: 14px;
        padding: 7px 0;
      }
      .fir_create_btr_des .fir_sec_cont .fir_cont_desc{
        font-size: 13px;
      }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 20px;
     }
     .sec_out_prod_des .sec_showcase{
        padding: 10px 0 5px 0;
      }
      .sec_out_prod_des .sec_sec_cont h3{
        padding: 0;
      }
      .third_out_prod_des .third_sec_cont{
        padding: 0 20px;
        border-radius: 25px;
      }
      .third_out_prod_des .third_sec_cont h3{
        font-size: 18px;
        padding: 30px 0 10px 0;
      }
      .third_out_prod_des .third_sec_cont p{
        font-size: 14px;
        padding-bottom: 30px;
      }
      .fourteen_quote_sec .quote_des{
        padding: 0 10px;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 16px;
        padding: 25px 0 30px 0;
      }
      .fourteen_quote_sec .quote_des h4{
        padding: 15px 0 5px 0;
      }
}
@media only screen and (max-width: 350px) {
    
}