@media only screen and (min-width: 991px) {
  .img_width img{
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .big_header{
    font-size: 62px;
  }
  .sec_heading{
    font-size: 42px;
  }
  .img_border_round{
    border-radius: 25px;
  }
  .img_border_upper_round{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .img_border_round_small{
    border-radius: 20px;
  }
  .btn_button{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ten_user_card_sec .btn_button{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
  }
  .fifth_cont_card h5{
    font-size: 18px;
  }
  .nine_cont_card{
    padding-left: 40px;
    padding-right: 40px;
  }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 50px;
     }
     .fir_create_btr_des .sec_tit_1 h2{
       margin-bottom: 20px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 17px;
     }
     .fir_create_btr_des .fir_sec_cont .fir_days{
       font-size: 13px;
       padding-top: 20px;
     }
     .fir_create_btr_des .fir_sec_cont h3{
       font-size: 18px;
       padding: 10px 0;
     }
     .fir_create_btr_des .fir_sec_cont .fir_cont_desc{
       font-size: 14px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 50px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 25px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 14px;
       padding: 12px 50px;
     }
     .sec_out_prod_des .sec_showcase{
        padding: 20px 0 6px 0;
      }
      .third_out_prod_des .third_sec_cont{
        padding: 0 30px;
      }
      .third_out_prod_des .third_sec_cont h3{
        font-size: 18px;
        padding: 35px 0 15px 0;
      }
      .third_out_prod_des .third_sec_cont p{
        font-size: 15px;
        padding-bottom: 35px;
      }
      .four_calan_land_page{
        padding: 60px 0;
      }
      .four_calan_land_page .four_items img{
        margin-bottom: 18px;
      }
      .fourteen_quote_sec{
        margin: 60px 0;
      }
      .fourteen_quote_sec .quote_sec{
        padding: 60px 0;
      }
      .fourteen_quote_sec .quote_des{
        padding: 0 40px;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 22px;
        padding: 40px 0 50px 0;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 20px;
        padding: 20px 0 6px 0;
      }
      .fifteen_quote_sec .fourteen_bitmap{ 
        margin-bottom: 60px;
      }
      .shopping_card{
        padding: 20px;
      }
      .twenty3_landing_sec .cont_width_box_medium{
        max-width: 380px;
      }
      .twenty4_landing_sec .margin_bottom{
        margin-bottom: 30px;
      }
      .seven_last_work .btn_button {
        padding-left: 50px;
        padding-right: 50px;
    }
    .template_list ul li p{
      font-size: 13px;
    }
    .big_btn{
      padding-left: 80px;
      padding-right: 80px;
    }
    .bar_slider_item{
      margin-bottom: 30px;
    }
    .header_bar_cont{
      margin-right: 0px;
    }
}
@media only screen and (max-width: 767px) {
  /* common  */
  .sec_space{
    padding: 50px 0;
  }
  .big_header{
    font-size: 46px;
  }
  .margin_bottom{
    margin-bottom: 40px;
  }
  .margin_top {
    margin-top: 40px;
  }
  .margin_bottom_half{
    margin-bottom: 20px;
  }
  .margin_top_half{
    margin-top: 20px;
  }
  .eight_image_sec{
    margin-top: 40px;
  }
  .sec_space_bg{
    margin: 50px 0;
  }
  .sec_space_bg_up{
    padding-top: 50px;
  }
  .sec_heading{
    font-size: 32px;
  }
  .btn_button{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .shopping_card_left{
    padding: 20px;
  }
  .big_btn{
    padding-left: 50px;
    padding-right: 50px;
  }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 40px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 15px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 40px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 20px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 14px;
       padding: 12px 40px;
     }
     .four_calan_land_page{
      padding: 50px 0;
    }
     .four_calan_land_page .four_items img{
        margin-bottom: 13px;
      }
      .fourteen_quote_sec{
        margin: 50px 0;
      }
      .fourteen_quote_sec .quote_sec{
        padding: 50px 0;
      }
      .fourteen_quote_sec .quote_des{
        padding: 0 20px;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 18px;
        padding: 30px 0 40px 0;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 16px;
        padding: 20px 0 6px 0;
      }
      .fourteen_quote_sec .quote_des p{
        font-size: 12px;
      }
      .fifteen_quote_sec .fourteen_bitmap{ 
        margin-bottom: 50px;
      }
      .box_border .box_cont p{
        font-size: 14px;
       }
       .nineteen_client_sec .client_img.active .avatar_circle{
        width: 80px;
        height: 80px;
        opacity: 1;
      }
      .nineteen_client_sec .client_img .avatar_circle{
        width: 50px;
        height: 50px;
        opacity: 20%;
      }
      .sixteen_quote_sec h2, .seventeen_quote_sec h3, .nineteen_client_cont h3{
        font-size: 22px !important;
      }
      .sixteen_quote_sec h5, .seventeen_quote_sec h5, .eighteen_client_page h5, .nineteen_client_cont h5, .instra_box span, .ten_user_card_sec h5, .fifth_cont_card h5{
        font-size: 18px !important;
      }
      .sixteen_quote_sec p, .seventeen_quote_sec .box_border p, .eighteen_client_page p, .nineteen_client_cont p, .fifth_btr_des_card button, .ten_user_card_sec h6, .fifth_cont_card p{
        font-size: 15px !important;
      }
       .nineteen_client_cont h5{
        font-size: 16px;
       }
       .nineteen_client_cont p{
        font-size: 14px;
       }
       .nine_cont_card{
        padding-left: 30px;
        padding-right: 30px;
      }
      .four_calan_land_page .btn_button{
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 40px;
      }
      .twenty_landing_sec button{
        margin-top: 40px;
      }
      .twenty3_landing_sec .title_width{
        width: 100%;
      }
      .twenty7_product_sec .cont_width_box_product button{
        margin-top: 60px;
        padding-left: 70px;
        padding-right: 70px;
      }
      .sixth_ux_ui_sec .btn_button, .nine_landing_sec .btn_button {
        padding-left: 50px;
        padding-right: 50px;
    }
    .second_header_s1 .subscribe_form .form_input_field, .second_site_s9 .subscribe_form .form_input_field{
      width: 100%;
    }
    .subscribe_form .form_input_field{
      margin-right: 0px;
    }
    
    .img_border{
      border-radius: 56px;
      padding: 25px;
    }
    .img_border img{
      border-radius: 42px;
    }
}
@media only screen and (max-width: 575px) {
  .sec_heading{
    font-size: 26px;
  }
  .big_header{
    font-size: 32px;
  }
  .big_btn{
    padding-left: 40px;
    padding-right: 40px;
  }
      .fir_create_btr_des .sec_tit_1{
        padding-bottom: 30px;
     }
     .fir_create_btr_des .sec_tit_1 p{
       font-size: 14px;
     }
     .fir_create_btr_des .fir_sec_btn{
       margin-top: 30px;
     }
     .fir_create_btr_des .fir_sec_btn button:first-child{
       margin-right: 0px;
       margin-bottom: 10px;
     }
     .fir_create_btr_des .fir_sec_btn button{
       font-size: 13px;
     }
     .sec_out_prod_des .sec_showcase{
        padding: 10px 0 6px 0;
      }
      .four_calan_land_page{
        padding: 40px 0;
      }
      .fourteen_quote_sec .quote_des h3{
        font-size: 17px;
      }
      .fourteen_quote_sec .quote_des h4{
        font-size: 15px;
        padding: 20px 0 6px 0;
      }
      .twenty7_product_sec .cont_width_box_product button{
        padding-left: 55px;
        padding-right: 55px;
      }
      .instra_box svg{
        width: 20%;
      }
      .instra_box span{
        font-size: 14px!important;
      }
      .icon_border{
        border-radius: 20px;
        padding: 20px;
      }
      .twenty_landing_sec ul li p span{
        font-size: 12px;
      }  
      .btn_button_small {
        border: 2px solid #E7E5EA;
        padding: 12px 50px;
    }
    .simple_plans_box{
      padding: 30px;
      border: 2px solid #E7E5EA;
      border-radius: 32px;
      height: 100%;
    }
    .quote_first_s8 .form_send_msg{
      padding: 20px;
    }
    .margin_right{
      margin-right: 20px;
    }    
    .img_border{
      padding: 15px;
    }
}
