/* font  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* common  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
h2,h2,h3,h4,h5,h6,p,a,ul,li{
  margin: 0;
  padding: 0;
}
.sec_bg_purple{
  background-color: #391484;
}
.sec_space{
  padding: 80px 0;
}
.sec_space_bg{
  margin: 80px 0;
}
.sec_space_bg_up{
  padding-top: 80px;
}
.margin_bottom{
  margin-bottom: 80px;
}
.margin_bottom_half{
  margin-bottom: 40px;
}
.cont_width_box{
  max-width: 730px;
}
.cont_width_box_medium{
  max-width: 540px;
}
.cont_width_box_small{
  max-width: 470px;
}
.font_primary{
  color: #12022F;
}
.font_purple{
  color: #391484;
}
.font_yellow{
  color: 
  #FFDDA9;
}
p{
  color: #594D6D;
}

.sec_heading{
  font-size: 48px;
}
.btn_button{
  border: 2px solid #E7E5EA;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn_button_purple_bg{
  color: #fff;
}
.img_border_round{
  border-radius: 32px;
}
.img_border_upper_round{
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.avatar_circle{
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.img_border_round_small{
  border-radius: 24px;
}
.btn_button_purple_bg:hover{
  color: #12022F;
}
.btn_button_small{
  border: 2px solid #E7E5EA;
  padding: 12px 84px;
}
.btn_product{
  border: 2px solid #E7E5EA;
  padding: 12px 55px;
  font-size: 14px;
}
.btn_button:hover, .btn_button_small:hover, .btn_product:hover{
  border: 2px solid #FFDDA9;
  background-color: #FFDDA9;
}
.letter_spacing{
  letter-spacing: 4px;
}
/* 1st section style */
.fir_create_btr_des .sec_tit_1{
   padding-bottom: 80px;
   margin: auto;
}
.fir_create_btr_des .sec_tit_1 h2{
  margin-bottom: 40px;
}
.fir_create_btr_des .sec_tit_1 p{
  font-size: 18px;
}
.fir_create_btr_des .fir_sec_cont .fir_days{
  font-size: 14px;
  padding-top: 32px;
}
.fir_create_btr_des .fir_sec_cont h3{
  font-size: 22px;
  padding: 16px 0;
}
.fir_create_btr_des .fir_sec_cont .fir_cont_desc{
  font-size: 16px;
}
.fir_create_btr_des .fir_sec_btn{
  margin-top: 80px;
}
.fir_create_btr_des .fir_sec_btn button:first-child{
  margin-right: 30px;
}
.fir_create_btr_des .fir_sec_btn button{
  font-size: 16px;
  padding: 15px 70px;
  border: 2px solid #E7E5EA;
  border-radius: 28px;
}
.fir_create_btr_des .fir_sec_btn button:active{
  border: 2px solid #E7E5EA;
}
.fir_create_btr_des .fir_sec_btn button:hover{
  background-color: #FFDDA9;
  border: 2px solid #FFDDA9;
}

/* 2nd section style  */
.sec_out_prod_des .sec_showcase{
  padding: 32px 0 8px 0;
}
.sec_out_prod_des .sec_sec_cont h3{
  padding: 0;
}

/* 3rd section style  */
.third_out_prod_des .third_sec_cont{
  border: 2px solid #E7E5EA;
  border-radius: 32px;
  padding: 0 65px;
}
.third_out_prod_des .third_sec_cont h3{
  font-size: 22px;
  padding: 48px 0 24px 0;
}
.third_out_prod_des .third_sec_cont p{
  padding-bottom: 48px;
}
/* 4th section style  */
.four_calan_land_page{
  color: #fff;
}
.four_calan_land_page .sec_tit_1 h2, .four_calan_land_page .sec_tit_1 p, .four_calan_land_page button {
  color: #fff;
}
.four_calan_land_page .four_items img{
  margin-bottom: 30px;
}
.four_calan_land_page .btn_button{
  padding-left: 145px;
  padding-right: 145px;
  margin-top: 80px;
}

/* 5th section style  */
.fifth_cont_card{
  background-color: #fff;
}

/* 6th section style  */
.sixth_ux_ui_sec .btn_button, .nine_landing_sec .btn_button{
  padding-left: 70px;
  padding-right: 70px;
}
.sixth_ux_ui_sec .img_right_margin{
  margin-right: 30px;
}
.sixth_ux_ui_sec .img_bottom_margin{
  margin-bottom: 30px;
}
/* 7th section style  */
.seven_last_work .btn_button{
  padding-left: 100px;
  padding-right: 100px;
}
/* .twenty9_des_comp_sec .owl-stage-outer .owl-stage .owl-item.active.center .slide_card{ */
.seven_last_work{
  overflow: hidden;
}
.seven_last_work .owl-stage-outer{
  overflow: visible;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.cloned, .seven_last_work .owl-stage-outer .owl-stage .owl-item{
  opacity: .5;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item .item .img_slider_cont{
  display: none;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.center .item .img_slider_cont{
  display: block;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.center{
  opacity: 1;
}
/* eight section style  */
.eight_image_sec{
  margin-top: 80px;
}
.instra_box{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 9th section style  */
.nine_cont_card{
  border: 2px solid #E7E5EA;
  padding-left: 68px;
  padding-right: 68px;
}

/* 10th section style  */
.ten_user_card_sec .btn_button{
  padding-left: 68px;
  padding-right: 68px;
  font-size: 16px;
}
.fifth_cont_card h6{
  font-size: 14px;
}
.fifth_cont_card{
  border: 2px solid#E7E5EA;
}

/* 11th section style  */
.ele_ecommerce_sec_1 .btn_button{
  padding-top: 12px;
  padding-bottom: 12px;
}

/* 12th section style  */
.shopping_card{
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 32px;
}
.shopping_card_left{
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 32px;
}

/* 14th section style  */
.fourteen_quote_sec .quote_sec{
  border: 2px solid #E7E5EA;
  padding: 80px 0;
  border-radius: 32px;
}
.fourteen_quote_sec .quote_des{
  margin: auto;
}
.fourteen_quote_sec .quote_des h3{
  font-size: 24px;
  padding: 55px 0 65px 0;
}
.fourteen_quote_sec .quote_des h4{
  font-size: 22px;
  padding: 24px 0 8px 0;
}
.fourteen_quote_sec .quote_des p{
  font-size: 14px;
}
.sec_line{
  width: 100%;
  height: 1px;
  background-color: #E7E5EA;
  margin: 80px 0
}
 /* 17 section style  */
 .box_border{
    border: 2px solid #E7E5EA;
    border-radius: 32px;
 }
/* 18 section style  */
/* 19 section style  */
.nineteen_client_sec .client_img.active .avatar_circle{
  width: 95px;
  height: 95px;
  opacity: 1;
}
.nineteen_client_sec .client_img .avatar_circle{
  width: 65px;
  height: 65px;
  opacity: 20%;
}
/* 20th section style  */
.twenty_landing_sec button{
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 80px;
}
.twenty_landing_sec ul li p span{
  font-size: 14px;
}
.twenty1_beauty_sec{
  background-image: url(./../img/sec_bg_211.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(18, 2, 47, 0.5));
}
.box_img_border{
  display: inline-block;
  border: 2px solid #FFFFFF10;
  border-radius: 72px;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.twenty3_landing_sec .cont_width_box_medium{
  max-width: 430px;
}
.twenty4_landing_sec .cont_width_box_medium{
  max-width: 500px;
}
.twenty6_product_sec .cont_width_box{
  max-width: 750px;
}
.twenty7_product_sec .cont_width_box_product button{
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}
.twenty29_des_cont{
  padding: 32px;
  border: 2px solid #FFFFFF10;
border-radius: 32px;
}
/* 27th syle start  */
.slide_card{
  border: 1px solid #E7E5EA;
  border-radius: 32px;
  padding: 60px 32px;
}
.slide_card img{
  width: auto!important;
  margin: auto;
}
.twenty7_des_comp_sec{
  overflow: hidden;
}
.twenty9_des_comp_sec .container-fluid{
  padding: 0;
}
.twenty7_des_comp_sec .owl-stage-outer{
  overflow: visible;
}
.twenty7_des_comp_sec .owl-stage-outer .owl-stage .owl-item.active.center .slide_card{
  border: 1px solid #391484;
  background-color: #39148405;
}
/* 28th section styel  */
.icon_border{
  border: 2px solid #E7E5EA;
  border-radius: 20px;
  padding: 28px;
}
.owl-carousel .owl-item .quote_sec img, .fourteen_quote_sec .owl-item .quote_des img, .sixteen_quote_sec .owl-item .item img, .seventeen_quote_sec .owl-item .item img, .eighteen_client_page .owl-item .item img{
  display: block;
  width: auto;
}
