/* font  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* common  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
h2,h2,h3,h4,h5,h6,p,a,ul,li{
  margin: 0;
  padding: 0;
}
.header_padding{
  padding-bottom: 80px;
}
.padding_top{
  padding-top: 80px;
}
.sec_bg_purple{
  background-color: #391484;
}
.sec_space{
  padding: 80px 0;
}
.sec_space_bg{
  margin: 80px 0;
}
.sec_space_bg_up{
  padding-top: 80px;
}
.margin_bottom{
  margin-bottom: 80px;
}
.margin_bottom_half{
  margin-bottom: 40px;
}
.cont_width_box{
  max-width: 730px;
}
.cont_width_box_medium{
  max-width: 540px;
}
.cont_width_box_small{
  max-width: 470px;
}
.font_primary{
  color: #12022F;
}
.font_purple{
  color: #391484;
}
.font_yellow{
  color: 
  #FFDDA9;
}
p{
  color: #594D6D;
}

.sec_heading{
  font-size: 48px;
}
.big_header{
  font-size: 72px;
}
.btn_button{
  border: 2px solid #E7E5EA;
  padding-top: 15px;
  padding-bottom: 15px;
}
.img_border_round{
  border-radius: 32px;
}
.img_border_upper_round{
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.avatar_circle{
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.img_border_round_small{
  border-radius: 24px;
}
.btn_button_purple_bg:hover{
  color: #12022F!important;
}
.btn_button_small{
  border: 2px solid #E7E5EA;
  padding: 12px 80px;
}
.btn_product{
  border: 2px solid #E7E5EA;
  padding: 12px 55px;
  font-size: 14px;
}
.btn_button:hover, .btn_button_small:hover, .btn_product:hover{
  border: 2px solid #FFDDA9;
  background-color: #FFDDA9;
}
.letter_spacing{
  letter-spacing: 4px;
}
.big_btn{
  padding-left: 100px;
  padding-right: 100px;
}
/* 1st section style */
.fir_create_btr_des .sec_tit_1{
   padding-bottom: 80px;
   margin: auto;
}
.fir_create_btr_des .sec_tit_1 h2{
  margin-bottom: 40px;
}
.fir_create_btr_des .sec_tit_1 p{
  font-size: 18px;
}
.fir_create_btr_des .fir_sec_cont .fir_days{
  font-size: 14px;
  padding-top: 32px;
}
.fir_create_btr_des .fir_sec_cont h3{
  font-size: 22px;
  padding: 16px 0;
}
.fir_create_btr_des .fir_sec_cont .fir_cont_desc{
  font-size: 16px;
}
.fir_create_btr_des .fir_sec_btn{
  margin-top: 80px;
}
.fir_create_btr_des .fir_sec_btn button:first-child{
  margin-right: 30px;
}
.fir_create_btr_des .fir_sec_btn button{
  font-size: 16px;
  padding: 15px 70px;
  border: 2px solid #E7E5EA;
  border-radius: 28px;
}
.fir_create_btr_des .fir_sec_btn button:active{
  border: 2px solid #E7E5EA;
}
.fir_create_btr_des .fir_sec_btn button:hover{
  background-color: #FFDDA9;
  border: 2px solid #FFDDA9;
}

/* 2nd section style  */
.sec_out_prod_des .sec_showcase{
  padding: 32px 0 8px 0;
}

/* 3rd section style  */
.third_out_prod_des .third_sec_cont{
  border: 2px solid #E7E5EA;
  border-radius: 32px;
  padding: 0 65px;
}
.third_out_prod_des .third_sec_cont h3{
  font-size: 22px;
  padding: 48px 0 24px 0;
}
.third_out_prod_des .third_sec_cont p{
  padding-bottom: 48px;
}
/* 4th section style  */
.four_calan_land_page .four_items img{
  margin-bottom: 30px;
}
.four_calan_land_page .btn_button{
  padding-left: 145px;
  padding-right: 145px;
  margin-top: 80px;
}

/* 6th section style  */
.sixth_ux_ui_sec .btn_button, .nine_landing_sec .btn_button{
  padding-left: 70px;
  padding-right: 70px;
}
.sixth_ux_ui_sec .img_right_margin {
  margin-right: 30px;
}
.sixth_ux_ui_sec .img_bottom_margin{
  margin-bottom: 30px;
}
/* 7th section style  */
.seven_last_work .btn_button{
  padding-left: 100px;
  padding-right: 100px;
}
.seven_last_work .owl-stage-outer{
  overflow: visible;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.cloned, .seven_last_work .owl-stage-outer .owl-stage .owl-item{
  opacity: .5;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item .item .img_slider_cont{
  display: none;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.center .item .img_slider_cont{
  display: block;
}
.seven_last_work .owl-stage-outer .owl-stage .owl-item.center{
  opacity: 1;
}
/* eight section style  */
.eight_image_sec{
  margin-top: 80px;
}
.instra_box{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 9th section style  */
.nine_cont_card{
  border: 2px solid #E7E5EA;
  padding-left: 68px;
  padding-right: 68px;
}

/* 10th section style  */
.ten_user_card_sec .btn_button{
  padding-left: 68px;
  padding-right: 68px;
  font-size: 16px;
}
.fifth_cont_card h6{
  font-size: 14px;
}
.fifth_cont_card{
  border: 2px solid#E7E5EA;
}

/* 11th section style  */
.ele_ecommerce_sec_1 .btn_button{
  padding-top: 12px;
  padding-bottom: 12px;
}

/* 12th section style  */
.shopping_card{
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 32px;
}
.shopping_card_left{
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 32px;
}

/* 14th section style  */
.fourteen_quote_sec .quote_sec{
  border: 2px solid #E7E5EA;
  padding: 80px 0;
  border-radius: 32px;
}
.fourteen_quote_sec .quote_des h3{
  font-size: 24px;
  padding: 55px 0 65px 0;
}
.fourteen_quote_sec .quote_des h4{
  font-size: 22px;
  padding: 24px 0 8px 0;
}
.fourteen_quote_sec .quote_des p{
  font-size: 14px;
}
.sec_line{
  width: 100%;
  height: 1px;
  background-color: #E7E5EA;
  margin: 80px 0
}
 /* 17 section style  */
 .box_border{
    border: 2px solid #E7E5EA;
    border-radius: 32px;
 }
/* 18 section style  */
/* 19 section style  */
.nineteen_client_sec .client_img.active .avatar_circle{
  width: 95px;
  height: 95px;
  opacity: 1;
}
.nineteen_client_sec .client_img .avatar_circle{
  width: 65px;
  height: 65px;
  opacity: 20%;
}
/* 20th section style  */
.twenty_landing_sec button{
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 80px;
}
.twenty_landing_sec ul li p span{
  font-size: 14px;
}
.twenty1_beauty_sec{
  background-image: url(./../img/sec_bg_211.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(18, 2, 47, 0.5));
}
.box_img_border{
  display: inline-block;
  border: 2px solid #FFFFFF10;
  border-radius: 72px;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.twenty3_landing_sec .cont_width_box_medium{
  max-width: 430px;
}
.twenty4_landing_sec .cont_width_box_medium{
  max-width: 500px;
}
.twenty6_product_sec .cont_width_box{
  max-width: 750px;
}
.twenty7_product_sec .cont_width_box_product button{
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}
.twenty29_des_cont{
  padding: 32px;
  border: 2px solid #FFFFFF10;
border-radius: 32px;
}
/* 27th syle start  */
.slide_card{
  border: 1px solid #E7E5EA;
  border-radius: 32px;
  padding: 60px 32px;
}
.slide_card img{
  width: auto!important;
  margin: auto;
}
.twenty7_des_comp_sec .owl-stage-outer{
  overflow: visible;
}
.twenty7_des_comp_sec .owl-stage-outer .owl-stage .owl-item.active.center .slide_card{
  border: 1px solid #391484;
  background-color: #39148405;
}
/* 28th section styel  */
.icon_border{
  border: 2px solid #E7E5EA;
  border-radius: 20px;
  padding: 28px;
}
.owl-carousel .owl-item .quote_sec img, .fourteen_quote_sec .owl-item .quote_des img, .sixteen_quote_sec .owl-item .item img, .seventeen_quote_sec .owl-item .item img, .eighteen_client_page .owl-item .item img{
  display: block;
  width: auto;
}

/* first site first section style */
.first_header_s1{
  background-image: url(./../img/first_sec1_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99;
  padding-bottom: 80px;
}
.first_header_s1::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #12022F;
  opacity: 60%;
  z-index: -1;
} 
.sign_up_btn{
  padding-left: 24px;
  padding-right: 24px;
}
.header_img_bar{
  border-radius: 32px;
  padding: 30px;
}
.header_img_bar img{
  width: 125px!important;
  height: 95px;
  border-radius: 18px;
}
.header_bar_cont{
  margin-right: 30px;
}
.first_header_s1 .header_img_bar .check_box .check_content{
  opacity: 50%;
}
.first_header_s1 .header_img_bar .check_box.active .check_content{
  opacity: 1;
}
/* first site 7th section style */
.simple_plans_box{
  padding: 40px;
  border: 2px solid #E7E5EA;
  border-radius: 32px;
  height: 100%;
}
.simple_plans_center{
  border: 2px solid #391484;
}
/* SWITCH STYLES ––––––––––––––––––––– */
.switch_wrapper {
  padding: 4px;
  background: #12022f08;
}
.switch_wrapper [type="radio"] {
  position: absolute;
  left: -9999px;
}
.switch_wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
.switch_wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
  color: #391484;
}
.switch_wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
.switch_wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
  background: transparent;
}
.switch_wrapper
  [type="radio"]:checked#monthly
  + label[for="yearly"]
  ~ .highlighter {
  transform: none;
}
.switch_wrapper
  [type="radio"]:checked#yearly
  + label[for="monthly"]
  ~ .highlighter {
  transform: translateX(100%);
}
.switch_wrapper label {
  z-index: 1;
  min-width: 100px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.25s ease-in-out;
}
.switch_wrapper label:hover {
  background: #fff;
}
.switch_wrapper .highlighter {
  top: 2px;
  left: 2px;
  width: calc(50% - 2px);
  height: calc(100% - 5px);
  transition: 0.25s all ease-in-out;
}
/* quote_first_s8 style  */
.quote_first_s8 .social_icons ul li{
  margin-right: 40px;
}
.quote_first_s8 .form_send_msg{
  padding: 40px;
  border-radius: 32px;
}
.quote_first_s8 .form_send_msg form input{
  background-color: #E7E5EA;
  border: none;
  padding: 15px 20px;
}
.quote_first_s8 .form_send_msg form input:focus, .quote_first_s8 .form_send_msg form textarea:focus{
  box-shadow: none;
}
.quote_first_s8 .form_send_msg form textarea{
  border-radius: 28px;
  padding: 15px 20px;
  background-color:#E7E5EA;
  border: none;
}
.quote_first_s8 .form_send_msg form input::placeholder, .quote_first_s8 .form_send_msg form textarea::placeholder{
  color: #12022F50;
}
/* first footer style  */
.margin_right{
  margin-right: 40px;
}
/* second site style start */
.second_header_s1{
  padding-bottom: 80px;
}
.second_header_s1 .subscribe_form .form_input_field, .second_site_s9 .subscribe_form .form_input_field{
  width: 60%;
}
/* second site 4th style  */
.second_landing_design_s4{
  background-image: url(./../img/second_landing_page_bg_s4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99;
}
.second_landing_design_s4::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #12022F;
  opacity: 60%;
  z-index: -1;
} 
.second_landing_design_s4 .cont_width_box_ss24{
  max-width: 680px;
}
/* second site 3rd section style  */
.img_border{
  border: 2px solid #E7E5EA;
  border-radius: 72px;
  padding: 30px;
}
.img_border img{
  border-radius: 48px;
  box-shadow: 0 16px 32px 0 #12022F10;
}
/* second site section 9 style  */
.icon_box_s9{
  padding: 27px;
  display: inline-block;
  background-color:#3914840c;
  border-radius: 16px;
  margin-bottom: 64px;
}
.subscribe_form{
  max-width: 550px;
}
.subscribe_form .form_input_field input{
  padding: 15px 0px 15px 60px;
}
.subscribe_form input::placeholder{
  color: #ffffff60;
}
.subscribe_form input:focus{
  box-shadow: none;
}
.subscribe_form .form_input_field{
  margin-right: 30px;
}
.subscribe_form .form_input_field .svg_img{
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.footer_subscribe_form{
  margin-bottom: 66px;
}
.footer_subscribe_form .form_input_field input::placeholder{
  color: #12022F50;
}
.footer_subscribe_form .form_input_field input{
  background-color: #E7E5EA50;
}
.second_site_s10 .line, .fourth_site_footer .line, .team_card .line{
  color: #E7E5EA;
}

/* 3rd site style start  */
.nav_btn:hover{
  color: #12022F;
}
/* quality product customer section 2 start  */
.margin_top{
  margin-top: 80px;
}
.cont_width_smaller{
  max-width: 285px;
}
/* 4th site style start  */
.cont_width_bigger{
  max-width: 920px;
}
.third_site_footer .form_input_field input{
  background-color: #ffffff1A;
}
.third_site_footer .form_input_field input::placeholder{
  color: #ffffff99;
}
.third_site_footer .line, .fourth_site_sec7 .line{
  color: #fff;
}

/* 4th site style start  */
.learn_more{
  color: #391484;
}
.team_card{
  padding: 64px 40px 40px 40px;
}
.bus_plans{
  font-size: 14px;
}
.margin_top_half{
  margin-top: 40px;
}
.plans_btn{
  background-color: #FFFFFF1A;
  padding: 15px 36px;
}
.plans_btn:hover{
  background-color: #FFDDA9;
}
.f_menu{
  font-size: 14px;
  color: #594D6D;
}
.team_card img{
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
